@tailwind base;
@tailwind components;
@tailwind utilities;

.menu :where(li > details > summary):after,
.menu :where(li > .menu-dropdown-toggle):after {
  /* Hide the default arrow */
  display: none;
}

@media screen and (max-width: 786px) {
  .custom-text-align-last {
    text-align-last: center;
  }
}

/* blog cards */

.card.image-full:before {
  opacity: 0.2;
}
